{
  "projects": {
    "default": "your-firebase-project-id"
  },
  "targets": {
    "your-firebase-project-id": {
      "hosting": {
        "landing": [
          "your-firebase-project-id"
        ],
        "api-genavatar": [
          "your-api-hosting-target"
        ]
      }
    }
  },
  "etags": {}
}
